.DS_Store
tmp/
.pyc
*.pkg
*.dmg
examples/pinpoint-script/pkgroot/*
pkgroot/Library/Application Support/pinpoint/bin/FoundationPlist/__init__\.pyc

pkgroot/Library/Application Support/pinpoint/bin/FoundationPlist/FoundationPlist\.pyc
